.tabs{
    display: flex;
    padding: 20px;
    backdrop-filter: blur(3px);
    background-color: rgba(white,0.25);
    margin: 8px;
    margin-top: 40px;
    border-radius: 20px;
    gap: 14px;
}

.tab-tile{
    display: flex;
    padding: 4px;
    //background-color: rgba(rgb(212, 199, 199),0.1);
    border-radius: 4px;
    background: linear-gradient(45deg,#f8b5a5,#e2d2fd);;

    cursor: pointer;
    transition: all 0.2s ease-out;

    i{
        color: #222;
    }
}
//Styles of tab tile
.tab-tile::before{
    content: '';
    position: absolute;
    //height: 100%;
   // width: 100%;
    //background: rgba(violet,0.5);
    top: 0;
    left: 0;
    //z-index: -1;
}

.tab-tile:hover{
    transform: scale(1.2);
    transition: all 0.2s;
}

.tab{
    text-decoration: none;

}

.tab.selected .tab-tile{
    border-radius: 50%;
    transform: scale(1.2);
    transition: all 0.4s;
    transform: translateY(-8px);
    transition-timing-function: cubic-bezier(0, 0, 0, 2);
    box-shadow: 0px 7px 17px rgba(white,0.3);

}

.tab.selected::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 20%;
    background-color:rgba(white,0.3) ;
    bottom: 2px;
    border-radius: 30px;
    transition-delay: 1s;

    //hide the underline
    //opacity: 0;
}

