.app-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=d60d527cb347746ab3abf5fccecf0271");
   // background-color:azure;

}

.top-section{
    //background-color:rgb(219, 132, 220);
    padding: 40px;

    text-align:center;

    h1{
        margin: 1%;
        font-size: 50px;
        font-weight: bold;
        color: rgb(212, 200, 200);
    }

    h2{
        margin: 0%;
        color: rgb(212, 200, 200);
    }
}

.content-section{
   // background-color: rgb(101, 23, 152);
    flex-grow: 1;
    min-height: 0;
    padding-bottom: 20px;
}

.bottom-section{
   // background-color: rgb(186, 148, 232);
    display: flex;
    flex-grow: 0.04;
    

    app-tabs{
        margin: auto;
    }
}