.bookmarks-tile{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;

    background: rgba(rgb(226, 192, 192), 0.5);
    border-radius: 5px;

    height: 65px;
    width: 65px;
    padding: 10px;
    
    cursor: pointer;

    &:hover{
        background-color: rgba(rgb(207, 177, 213),0.68);
        backdrop-filter: blur(2px);
    }

    &:active{
        transform: translateY(2px);
    }
}

.bookmarks-tile img{
    margin-top: 3px;
    max-width: 25px;
    border-radius: 4px;
    
}

.tile-text{
    color: rgba( #ece8e8, 0.8);
    margin-bottom:4px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}