
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined');
html,body{
    height: 100%;
    margin: 0%;
}

html{
    font-family: 'Poppins',sans-serif;
}

.container{
    max-width: 800px;
    margin:auto;
    
}

.btn{
    display: inline-flex;
    padding: 10px ;
    background: rgba(rgb(226, 192, 192), 0.8);
    color: rgba( #ece8e8, 0.9);
    font-size: 14px;
    border-radius: 2px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        background-color: rgba(rgb(207, 177, 213),0.68);
        backdrop-filter: blur(2px);
    }
}

.btns-container{
    display: flex;
    margin-top: 20px;
    
    &.btns-centered{
        justify-content: center;
    }
}

.has-blurred-white-bg{
    background: rgba(rgb(226, 192, 192), 0.8);
    backdrop-filter: 2px;

}

.textbox{
    font-size: 15px;
    font-family: inherit;
    width: 100%;
    padding: 5px;
    background-color: rgba( #ece8e8, 0.9);
    border: 2px solid rgb(104, 103, 103);
    border-radius: 2px;

    &:hover{
        border-color: rgb(14, 13, 13);
    }
}