.todos-wrapper{
    height:100%;
    overflow-y: auto;

}
.todo-item{
    display:flex;
    background-color: rgba(rgb(226, 192, 192), 0.5);
    border-radius: 55px;
    margin-bottom: 15px;
    padding: 8px;
    align-items: center;
    cursor: pointer;
}
.todo-text{
    color: rgba( #ece8e8, 0.8);
}
.check-box{
    padding: 4px;
    display: flex;
    margin-right: 15px;
    border: 2px solid rgba(black,0.35);
    border-radius: 50%;

    i{
        font-size: 18px;
        opacity: 0;
    }

}
.todo-item:hover{
    .check-box{
        border-color: transparent;
        background-color: rgba(black,0.35);
    }
}

.todo-item.completed{
    .todo-text{
        color: rgba(#ece8e8,0.5);
    }

    .check-box{
        background: rgb(211, 181, 208);
        border-color: transparent;

        i{
            opacity: 1;
        }
    }
}
.todo-text,.check-box{
    transition: 0.12s;
}