<div class="bookmarks-wrapper">

    <div class="conatiner">

        <div class="bookmark-tiles-container">

           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
           <app-bookmark-tile></app-bookmark-tile>
            

        </div>
        
    </div>
    
</div>