.bookmarks-wrapper{
    height: 100%;
    overflow-y: auto;
    //background-color: peachpuff;
}


.bookmark-tiles-container{
    display: flex;
    gap : 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

